<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoPredict</title>

    <!-- Favicon / Logo -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>
</head>
<body>
    <header>
        <h1>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="height:90px; vertical-align:middle; margin-right:10px;"><br>
            GeoPredict
        </h1>
        <h3>Predictive and Geospatial Water Quality Alert System for Lakes in Kashmir</h3>
    </header>

    <main>
        
        <div id="map"></div>
        <div style="text-align:center; margin: 10px 0;">
            <caption style="font-size:1.1em; color:#333;">Click on the map marker to view lake details</caption>
        </div>
        

        <div id="details">
            <h2 id="lake-name">Dal Lake</h2>
            <p id="lake-desc">Dal Lake is a famous urban lake in Srinagar.</p>

            <h5 id="lake-info">
                Dal (Urdu pronunciation: [ɖəl] ; Kashmiri pronunciation: [ɖal]) is a freshwater lake in Srinagar,
                the summer capital of Jammu and Kashmir in Indian-administered Kashmir. It is an urban lake, the 
                second largest lake in Jammu and Kashmir, and the most visited place in Srinagar by tourists and 
                locals. It is integral to tourism and recreation in the Kashmir Valley and is variously known as 
                the "Lake of Flowers", "Jewel in the crown of Kashmir" or "Srinagar's Jewel".The lake is also an 
                important source for commercial operations in fishing and water plant harvesting.
</h5>

            <div id="actions"></div>
            <h2>Water Quality Data</h2>
            <table id="lake-table">
                <thead>
                    <tr>
                        <th>Max BOD</th>
                        <th>Max Conductivity</th>
                        <th>Max DO</th>
                        <th>Max Temp</th>
                        <th>Max pH</th>
                        <th>Min BOD</th>
                        <th>Min Conductivity</th>
                        <th>Min DO</th>
                        <th>Min Temp</th>
                        <th>Min pH</th>
                        <th>Lake</th>
                        <th>Source</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


            <h2>Historic trends</h2>
            <div id="plots">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </main>

    <footer>
        <div>Developed at Department of IT, SP College</div>
        <div>Developed by <a href="https://www.linkedin.com/in/sacib-mir/" target="_blank">Saqib Mir</a> under the supervision of Dr. Khursheed Ah. Dar</div>
    </footer>

    <!-- JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
